[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NPM_FLAGS = "--legacy-peer-deps"

# SPA (evita 404 no refresh)
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
